@import "/home/patrick/.config/waybar/catppuccin.css";

* {
  all: unset;
  font-family: monospace;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
  margin: 5px 5px;
}

tooltip {
  background: @crust;
}

tooltip label {
  color: @text;
  padding: 0.25rem 0.5rem;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button:hover {
  background: @surface1;
  border-radius: 1rem;
}

#workspaces button.focused {
  color: @sky;
  background: @surface1;
  border-radius: 1rem;
}

#workspaces button.urgent {
  color: @peach;
  background: @surface1;
  border-radius: 1rem;
}

#custom-music,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#battery,
#backlight,
#clock,
#idle_inhibitor,
#custom-notifications,
#custom-lock,
#custom-hibernate,
#custom-power {
  background: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#idle_inhibitor:hover,
#custom-notifications:hover,
#custom-lock:hover,
#custom-hibernate:hover,
#custom-power:hover {
  background: @surface1;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
  margin-right: 1rem;
}

#cpu {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
}

#memory {
  color: @peach;
}

#disk {
  color: @yellow;
}

#network {
  color: @green;
}

#pulseaudio {
  color: @teal;
}

#battery {
  color: @sky;
}

#backlight {
  color: @sapphire;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#idle_inhibitor {
  color: @lavender;
  border-radius: 1rem 0px 0px 1rem;
}
#idle_inhibitor.activated {
  color: @sky;
}

#custom-notifications {
  color: @lavender;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#custom-lock {
  color: @lavender;
  border-radius: 1rem 0px 0px 1rem;
}

#custom-hibernate {
  color: @lavender;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#custom-power {
  color: @red;
  margin-right: 1rem;
  border-radius: 1rem;
}
